*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    font-family: 'Monteserrat',sans-serif;
    color: black;
}
.star{
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.star a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(19, 109, 121);
}
.abcd{
    padding-top:200px;

    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.container{
    background-image: linear-gradient(white,grey) ;

    background-position: top-centre;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.left{
   font-size: 30px;
   font-weight: solid;
   font-style: italic;
}
.middle{
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 15px;

}
.red{
    background-image: linear-gradient(rgb(163, 163, 163),rgb(23, 80, 45));
    display: flex;
    margin: 20px;
}
.bottom{
    
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background-color:teal;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    padding: 5px;
}
.bottom a{
    height: 100px;
    width: 100px;
    background-color: rgb(194, 223, 235);
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    line-height: 110px;
    box-shadow: 1px 4px 2px 2px rgb(134, 125, 125);
    transition: all 0.2s linear;
}


a i{
    transition: all 0.2s linear;
}
a:hover i{
 transform: scale(1.4);
}
.fa-instagram{
    color: #0097e6;
}
.fa-facebook{
    color: #0097e6;
}
.fa-linkedin{
    color:  #0097e6;
}
.fa-twitter{
    color:  #0097e6;
}
.qual{
    background-color: teal;
    width: 220px;
    height: 50px;
    padding: 5px;
    border: solid white;
    box-shadow: 1px 4px 2px 2px rgb(134, 125, 125); 
}







